table {
    background-color: gray;
    text-align: center;
    height: auto;
    border: 2px solid black;
}

tr {
    border: 1px solid black;
}

td {
    background-color: lightblue;
    border: 1px solid black;
    width: 90px;
    height: 50px;
}
.missing{
    background-color:red;
}
.empty{
    background-color: purple;
}
#me{
    background-color: yellow;
    color: blue;
}